db.login=
db.password=
proxy.password=
conf.savepass=0
proxy.user=
backup.dir=
db.list=HSQLDB
lang.code=
conf.getXML=0
db.name=
sk.login=
proxy.port=
sv.startup=0
proxy.turn=0
db.type=HSQLDB
sk.dir=
proxy.host=
check.properties=1
db.server=
sk.password=
info.update=1
info.close=1